* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vw;
  background: #b0eeae;
  background: radial-gradient(
    circle,
    rgba(176, 238, 174, 1) 0%,
    rgba(159, 148, 233, 1) 100%
  );
}

.container {
  height: 25%;
  display: flex;
  border: 2px solid black;
  gap: 20px;
  align-items: center;
}

.container img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
}

.dados {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  display: flex;
  text-transform: uppercase;
  color: chocolate;
}

.h2 {
  display: flex;
  font-family: cursive;
}

.p {
  display: flex;
  font-family: fantasy;
}
